{extend name="public:base" /}
{block name="css"}
<style>
.layui-nav-img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}
.layui-table-cell {
    height: 40px;
    line-height: 40px;
}
</style>
{/block}

{block name="content"}
<div class="layui-btn-group">
    <a class="layui-btn layui-btn-sm" href="{:url('@admin/horn/add')}"><i class="layui-icon">&#xe61f;</i> 添加</a>
</div>
<table class="layui-table" lay-data="{ url:'{:url("@admin/horn/data")}', page:true, id:'data', limit:{$config['page_num']}}" lay-filter="data">
	<thead>
		<tr> 			
            <th lay-data="{type:'numbers', fixed: 'left'}"></th>	
            <th lay-data="{field:'title'}">内容</th> 
			<th lay-data="{fixed: 'right', align:'center', toolbar: '#menu',width:300}">可用操作</th> 
		</tr>
	</thead>
</table> 
{/block} 

{block name="javascript"}
<script type="text/html" id="menu">	
    <a class="layui-btn layui-btn-sm layui-bg-green" lay-event="edit"><i class="layui-icon">&#xe632;</i>修改</a> 
	<a class="layui-btn layui-btn-sm layui-btn-danger" lay-event="del"><i class="layui-icon">&#xe640;</i>删除</a>
</script>

<script>
layui.use(['form', 'layedit','table', 'laydate','element'], function(){
    var form = layui.form
    ,layer = layui.layer
    ,layedit = layui.layedit
    ,laydate = layui.laydate
    ,element = layui.element,table = layui.table;    
    


 	function table_reload(data){
        if(data.code=='1'){
            table.reload('data', {
                url: '{:url("@admin/horn/data")}', page: {
                        curr: 1 //重新从第 1 页开始
                }
            });
        }
    } 

	table.on('tool(data)', function(obj){
		var data = obj.data;
		if(obj.event === 'edit'){ 
			location.href = "{:url('@admin/horn/edit')}" +'?id='+ data.id; 
        }else if(obj.event==='del'){
			parent.$.fn.jcb.confirm(true,'确定删除吗?','{:url("@admin/horn/del")}',table_reload,{'id':data.id}); 				
		} 
	}); 
});
</script>
{/block}
