{extend name="public:base" /}
{block name="css"} 
 <style>
    .layui-upload-img {width: 150px;margin: 0 10px 10px 0;}
    input{width:500px !important;}
</style>
{/block} 
{block name="content"}
<form class="layui-form layui-form-pane" action="">
    {volist name="list" id="data"}
    {if condition="$data.key == 'erweima'"}
    <div class="layui-form-item">
        <label class="layui-form-label" style="width:200px;">二维码图片</label>
        <div class="layui-input-block">
        <div class="layui-upload-list">
            <img class="layui-upload-img" src="{$data.value|default='/resource/images/bakimg.png'}" id="img_picture">
        </div>
        </div>
    </div> 
    {else/}
    <div class="layui-form-item">
        <label class="layui-form-label" style="width:200px;">{$data.name}</label>
        <div class="layui-input-inline">
            <input type="text" name="{$data.key}" lay-verify="required" value="{$data.value}" autocomplete="off" class="layui-input">
        </div>
    </div>
    {/if}
    {/volist}
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="submit">提交修改</button>
            <button type="reset" class="layui-btn layui-btn-primary">重  置</button>
        </div>
    </div>
</form>
{/block} 

{block name="javascript"}
<script>
layui.use(['form','upload', 'layedit','table', 'laydate','element'], function(){
    var form = layui.form,layer = layui.layer,layedit = layui.layedit,laydate = layui.laydate,upload = layui.upload,element = layui.element,table = layui.table;     
    upload.render({
        elem: '#img_picture'
        ,url: '{:url("@admin/login/upload")}'
        ,done: function(res){
            if(res.code == 1){
                $("#img_picture").attr('src',res.data.src);
            }else{
                parent.$.fn.jcb.alert(res.msg,'error');
            }
        }
    });
    function goback(data){
        if(data.code=='1') window.history.go();
    }    
    form.on('submit(submit)', function(data){  
        data.field.erweima = $('#img_picture').attr('src');
        if(data.field.erweima == '/resource/images/bakimg.png'){
                 data.field.erweima ='';
         }    
		parent.$.fn.jcb.post("{$config['current_url']}",data.field,false,goback);  
		return false;
	});
});
</script>
{/block}