{extend name="public:base" /}
{block name="css"} 
 <style>
    .layui-upload-img {width: 150px;margin: 0 10px 10px 0;}
</style>
{/block}
{block name="content"}
<form class="layui-form layui-form-pane" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">类型名称</label>
        <div class="layui-input-inline">
            <input type="text" name="name" lay-verify="required" value="{$list.name}" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">图片</label>
    <div class="layui-input-block">
        <div class="layui-upload-list">
            <img class="layui-upload-img" src="{$list.picture|default='/resource/images/bakimg.png'}" id="img_picture">
        </div>
        </div>
    </div> 
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="submit">提交修改</button>
            <button type="reset" class="layui-btn layui-btn-primary">重  置</button>
        </div>
    </div>
</form>
{/block} 

{block name="javascript"}
<script>
layui.use(['form','upload', 'layedit','table', 'laydate','element'], function(){
    var form = layui.form,layer = layui.layer,layedit = layui.layedit,laydate = layui.laydate,upload = layui.upload,element = layui.element,table = layui.table;
    upload.render({
        elem: '#img_picture'
        ,url: '{:url("@admin/login/upload")}'
        ,done: function(res){
            if(res.code == 1){
                $("#img_picture").attr('src',res.data.src);
            }else{
                parent.$.fn.jcb.alert(res.msg,'error');
            }
        }
    });
    function goback(data){
        if(data.code=='1') window.history.go(-1);
    }    
    form.on('submit(submit)', function(data){
        data.field.picture = $('#img_picture').attr('src');
        if(data.field.picture == '/resource/images/bakimg.png'){
                 data.field.picture ='';
         }       
		parent.$.fn.jcb.post("{$config['current_url']}",data.field,false,goback);  
		return false;
	});
});
</script>
{/block}